@font-face {
    font-family: 'old'; /*a name to be used later*/
    src: url('OldeEnglish.ttf'); /*URL to font*/
}

html { 
    background: url(background_4k.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: 'old';
    color: white;
    font-size: 1.5em;
}

.container-v {
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-h {
    width: 100%;
    display: flex; /* or inline-flex */
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    
}

.link {
    color:white;
    text-decoration: none;
}